* {
 	box-sizing: border-box;
}
html,
body,
.wrap {
  height: 100%;
  margin: 0;
}
.wrap {
  background: url('mountains.jpg') no-repeat;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 22em;
  margin: 0;
	text-shadow: 2px 2px 5px rgba(0,0,0, .4);
  -webkit-mask-image: url('mask.png');
  mask-image: url('mask.png');
  padding: 240px 0 0 120px;
}